.nav {
    padding-top: 2.75rem;
    max-width: 432px;
    @media #{$mobile} {
        margin-left: calc(50% - 154px);
    }
    &__list {
        margin: 0;
        padding: 0;
        display: grid;
        width: 108px;
        height: 41px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style: none;
        &:first-child {
          border-left: 1px solid #fff;
        }
        @media #{$mobile} {
            grid-template-columns: 1fr 1fr;
        }
    }
    &__list-button {
        background: $codgray;
        color: $white;
        border: 1px solid #fff;
        border-left: none;
        width: 108px;
        height: 41px;
        cursor: pointer;
        text-align: center;
        &:hover {
          background: $white;
          color: $codgray;
      }
        @media #{$mobile} {
            width: 154px;
            height: 48px;
        }
        &--active {
            background: $white;
            color: $codgray;
            z-index: 1;
        }
    }
    &__list-element {
        width: 108px;
        height: 41px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 1rem;
        @media #{$mobile} {
            border: 1px solid #fff;
            width: 154px;
            height: 48px;
        }
    }
}
