.users-container {
    margin-top: 5rem;
    display: grid;
    grid-row: 2/2;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 1.75rem;
    @media #{$mobile} {
        grid-template-columns: 1fr;
        row-gap: 3rem;
        justify-items: center;
    }
    @media #{$tablet} {
        grid-template-columns: 1fr 1fr;
        grid-row: 1/2;
        row-gap: 3rem;
        column-gap: 1rem;
    }
    &__title {
        grid-row: 1/1;
        grid-column: 1/4;
        @media #{$mobile} {
            grid-row: 1/1;
            grid-column: 1/1;
        }
        @media #{$tablet} {
            grid-row: 1/1;
            grid-column: 1/3;
        }
    }
    &--one, &--two, &--three, &--four {
        display: none;
        transform: translateX(-100%);
    }
}

.user {
    display: flex;
    flex-direction: column;
    border: 3px solid #fff;
    max-width: 293px;
    width: 100%;
    min-height: 358px;
    align-items: center;
    column-gap: 0;
    &__btn {
        width: 180px;
        height: 33px;
        margin-top: auto;
        margin-bottom: 1.25rem;
        font-size: 0.875rem;
        line-height: 2.2625rem;
        font-weight: bold;
        background: #fff;
        color: #000000;
        text-decoration: none;
        text-align: center;
        vertical-align: center;
    }
    &__description {
        margin: 0;
        max-width: 248px;
        margin: 0 1.25rem 1.25rem 1.5625rem;
        font-size: 0.875rem;
        line-height: 1.125rem;
    }
    &__photo {
        width: 100px;
        height: 100px;
    }
    &__title {
        margin: 0 0 0 16px;
        padding: 0;
        font-weight: bold;
        font-size: 1.3125rem;
        line-height: 1.75rem;
        width: 154px;
        align-items: center;
    }
    &__title-wrapper {
        background: #fff;
        color: $codgray;
        width: 100%;
        height: 103px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.125rem;
    }
}

.visible {
    animation: slide-in 1.1s forwards;
    display: grid;
  }

.fill {
    max-width: 293px;
    width: 100%;
    min-height: 358px;
    display: none;
    border: 3px solid #fff;
    @media #{$tablet} {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    &__link {
        color: #fff;
    }
    &__title {
        transform: rotate(-45deg);
    }
}