@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $white;
  background: $codgray;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 5.125rem;
  padding-left: 2.875rem;
  &__description {
    max-width: 623px;
    width: 100%;
    font-size: 1.3125rem;
    line-height: 1.75rem;
  }
  &__title {
    font-weight: bold;
    font-size: 3rem;
  }
}